@{
    ViewBag.Title = "Home Page";
}

<div class="container">

        <div class="jumbotron">
            <h1>Информационный сайт</h1>
            <p>На сайте вы можете просматривать данных о ПК в корпоративной сети.</p>
        </div>
        

</div>